@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap');

@media screen and (min-width: 80rem) {
    .card {
      margin: 1em 2em;
    }
  }
  
   
body
{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Belanosima', sans-serif;
    overflow: auto;
    background-color: rgb(18, 18, 18);
}

main {
    width: 740px;
    margin : 30px;
}